<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

    <header>
        <%- include('../partials/header')%>
    </header>
    <div class="About">
        <h2>About the Page</h2>
        <br>
        <p>This is a basic Blog Page with a login and contact form. Created with EJS for Demo purposes only!</p>
            </p>
            <br>
    </div>
    <%- include('../partials/footer')%>
</body>

</html>