<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Blog Home</title>
        <link rel="stylesheet" href="/styles/style.css">

    </head>
    <body>
           <!--button class="btnLogin-popup" class="btncenter">Login</--button-->
    <header>
            <%- include('../partials/header')%>
    </header>
    <div id="wrapper">
        <div class="header">
            <h1>Welcome to my Blog!</h1>
            <ul class="blog-links">
                <% blogPosts.forEach((post) => { %>
                    <a href="/pages/<%= post.id %>"><%= post.title %> </a>
                <% }); %>
            </ul>
        </div>
    </div>
    <%- include('../partials/footer')%>
</body>
</html>