@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* Small screens (mobile phones) */
@media only screen and (max-width: 600px) {
    /* Styles for small screens */
  }

  /* Medium screens (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* Styles for medium screens */
  }

  /* Large screens (desktops) */
  @media only screen and (min-width: 769px) {
    /* Styles for large screens */
  }

  /* Devices with a Retina display */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min--moz-device-pixel-ratio: 2),
         only screen and (-o-min-device-pixel-ratio: 2/1),
         only screen and (min-device-pixel-ratio: 2) {
    /* Styles for devices with a Retina display */
  }

  /* Media query for Samsung Galaxy Fold */
@media screen and (max-width: 280px) and (min-height: 585px) {
  /* Your styles specific to Galaxy Fold go here */
  body {
      font-size: 16px; /* Example: Adjust font size for smaller screens */
  }

  /* Add more styles as needed */
}



.commentbox {
  position: relative;
  width: 400px;
  height: 440px; /* Fixed height for the comment box */
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter: blur(26px);
  box-shadow: 0 0 30px white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align comments to the top of the comment box */
  align-items: center;
  overflow-y: auto; /* Enable vertical scrolling */
  backdrop-filter: blur(26px); /* Blur effect */
  margin: 40px auto; /* Center horizontally and provide top margin */
}


.commentbox h2{
    color:#fff;
    margin-top:20px;
}



  /* Style for the comment button */
  .comment-button {
    padding: 8px;
    margin-left: 8px;
    background-color: #162938; /* Background color */
    color: #fff ; /* Text color */
    border: 1px solid; /* Border color */
    border-radius: 4px;
    cursor: pointer;
}



  /* Hover styles for comment input and button */
  .comment-button:hover {
      background: #0d6aee; /* Background color on hover */
      color: #fff; /* Text color on hover */
  }
  form {
    width: 100%;
    max-width: 250px;
    display:center;
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    color: rgb(245, 240, 240);
  }
  
  form input,
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }
  
  form input[type="submit"] {
    background-color: #162938;
    color: #fff;
    border: solid;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  form input[type="submit"]:hover {
    background-color: #0d6aee;
  }
