@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
/* Small screens (mobile phones) */
@media only screen and (max-width: 600px) {
    /* Styles for small screens */
  }

  /* Medium screens (tablets) */
  @media only screen and (min-width: 601px) and (max-width: 768px) {
    /* Styles for medium screens */
  }

  /* Large screens (desktops) */
  @media only screen and (min-width: 769px) {
    /* Styles for large screens */
  }

  /* Devices with a Retina display */
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min--moz-device-pixel-ratio: 2),
         only screen and (-o-min-device-pixel-ratio: 2/1),
         only screen and (min-device-pixel-ratio: 2) {
    /* Styles for devices with a Retina display */
  }

/* Media query for Samsung Galaxy Fold */
@media screen and (max-width: 280px) and (min-height: 585px) {
    /* Your styles specific to Galaxy Fold go here */
    body {
        font-size: 16px; /* Example: Adjust font size for smaller screens */
    }

    /* Add more styles as needed */
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./background.jpg') fixed;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}



.navigation a {
    position: relative;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
}


/* Common styles for <a> elements */
a {
    text-decoration: none; /* Remove underline */
}


.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}



#wrapper h1 {
    color: white; /* Set the text color to white */
    margin-top:40px;
}

h2{
    color: white;
    margin-top:30px;
    text-align:center;
}

p{
    color: #fff;
    padding:20px;
}

/* Your existing styles */

/* Style for the h1 element */
#wrapper .header h1 {
    color: white; /* Set the text color to white */
    text-align:center;
    font-size: 40px;
    margin-bottom:30px;
}

/* Additional styles for blog links */
#wrapper .header .blog-links {
    list-style: none; /* Remove default list styles */
    padding: 0;
    margin: 0;
    text-align:center;
    font-size:20px;
}

#wrapper .header .blog-links a {
    text-decoration: none; /* Remove default underline */
    position: relative;
    font-size: 0.9em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 15px;
}


/* Underline effect on hover */
#wrapper .header .blog-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

#wrapper .header .blog-links a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}



.wrapper {
    position: absolute;
    width: auto;
    height: auto;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px white;
    display: flex; /* Änderung hier */
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(1);
    transition: transform .5s ease, height .2s ease;
    flex-direction: column;
  }
  
  #wrapper {
    margin-top: 0; /* Remove default margin for h1 */
    margin-bottom: 20px; /* Add margin to create space below h1 */
    align-content: center;
    text-align: center;
    color:#fff;
}




.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 520px;

}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-400px);
}

.wrapper .form-box.register {
    position: fixed;
    transition: none;
    transform: translateX(400px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    background: #162938;
    font-size: 2em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
    z-index: 1;
}



.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #f7f9fb;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #f4f6f7;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -6px;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #eef2f5;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #f2f5f8;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #eff2f5;
    font-weight: 500;
    margin: -15px 0 16px;
    display: flex;
    justify-content: space-between;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #f1f4f6;
    margin-right: 3px;
}

.remember-forgot a {
    color: #eaeff3;
    text-decoration: none;
    margin-left:5px;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

.login-register {
    font-size: .9em;
    color: #eff1f3;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-register p a {
    color: #f3f5f7;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.login{
    color:#fff;

}
/* about style */

.bold{
    font: weight 100px;
}


p {
    line-height: 1.6;
}

form {
    margin-top: 20px;
    margin-bottom:20px;
}

.post1:h1{
    text-align:center;
}

/* Define a CSS rule for the 'p' element inside the '.About' class */


.About {
    color:white;
    font-size: 20px;
    text-align:center;
}

#btncenter{
    position: auto;
    top:30%;/* adjust the value to move the text higher */
    font-size: 30px; /* adjust the value to increase or decrease the font size */
    text-align: center;/* center the text horizontally */
  }

.show-form {
    display: flex;
  }



 footer {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    color: white;
    text-align: center;
    padding: 0.5px;
    backdrop-filter: blur(10px); /* Add a blur effect to the footer */
    transition: bottom 1s ease, opacity 0.5s ease; /* Smooth transition animation for bottom and opacity */
    backdrop-filter: blur(10px); /* Add a blur effect to the footer */
    opacity: 0; /* Set initial opacity to 0 */
}

.footer:hover {
    bottom: 10px; /* Zeige den Footer beim Überfahren mit der Maus */
    opacity: 1; /* Set opacity to 1 on hover */
}

